body{
    background-color: #FDC0C0;
    background-size: 100%;
    margin-top: 130px;
}

.wavefooter {
    margin-top: -20px;
}

h1 {
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Lato;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 3px;
}

table {
    margin-top: -20px;
    text-align: center;
    padding: 50px;
    border-collapse: collapse;
    font-family: Lato;
    font-style: normal;
}

k {
    color: #000;
    text-align: left;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
}

.button {
    background-color: #FB8F8F;
    border: none;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.button a {
    text-decoration: none;
    color: black;
}

.artikel1, .artikel2, .artikel3, .artikel4, .artikel5, .artikel6 {
    background-color: white;
    margin: 0px 55px;
    border-radius: 31px;
    width: 330px;
}

.artikel1 img, .artikel2 img, .artikel3 img, .artikel4 img, .artikel5 img, .artikel6 img {
    width: 330px;
    height: 200px;
}