body{
    background-color: #FDC0C0;
    background-size: 100%;
    margin-top: 130px;
}

.wavefooter {
    margin-top: -20px;
}

.judulrincian {
    color: #000;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

table {
    margin-top: -15px;
    color: #000;
    font-family: lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

.tombol {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-content: space-around;
}

.back {
    border: none;
    color: none;
    /* background-color: #FDC0C0; */
}

.back a {
    font-family: lato;
    font-size: 13px;
    font-style:normal;
    font-weight: 150;
    line-height: normal;
    color: black;
    text-decoration: none;
}

.booking {
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    background-color: #F08F7F;
}

.booking a{
    font-family: lato;
    font-size: 17px;
    font-style:normal;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: normal;
    color: black;
    text-decoration: none;
}

.formbg {
    margin: 0px auto;
    font-family: lato;
    width: 100%;
    max-width: 750px;
    background: white;
    border-radius: 4px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}

.grid {
    display: grid;
}

.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}